@import "https://unpkg.com/open-props";

body {
    background-color: var(--gray-9);
}

a {
    text-decoration: none;
}


.btn {
    background-color: var(--blue-7);
    font-family: var(--font-sans);
    border-radius: var(--radius-2);
    border: none;
    padding: var(--size-3) var(--size-8);
    color: var(--gray-0);
}

nav {
    font-family: var(--font-sans);
    display: flex;
    justify-content: space-between;
    padding: var(--size-4);
    align-items: baseline;
}

.logo {
    font-size: var(--font-size-3);
    color: var(--gray-0);
    font-weight: var(--font-weight-8);
}

.nav a {
    font-size: var(--font-size-1);
    color: var(--gray-4);
    font-weight: var(--font-weight-7);
}


